// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align:left;
	background-color:#e9eaee;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
a:link {
  text-decoration: none;
}
#topbar {
  background-color:#3f5c98;
  height: 40px;
}
#tbleft {
  margin: 4px;
}
#tbmiddle {
  position: absolute;
  top: 13px;
  left: 230px;
  width: 400px;
  background-color: white;
  height: 19px;
  border-bottom: 1px solid #bbbdc4;
  border-right: 1px solid #bbbdc4;
  padding: 5px;
}
#signin {
  float: right;
  background-color: white;
  margin: 5px;
  padding: 5px;
}
#content {
  margin:0px auto;
  width: 1000px;
  text-align: center;
}
#leftcolumn {
  width: 180px;
  float: left;
}
#centralcolumn {
  width: 500px;
  float: left;
  text-align:left;
  padding: 10px;
}
#rightcolumn {
  width: 300px;
  float: left;
}
#statusupdatebox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbbdc4;
  border-right: 1px solid #bbbdc4;
}
#postbox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbbdc4;
  border-right: 1px solid #bbbdc4;
}
#post {
  margin-bottom: 10px;
}
#functionsbar {
  padding: 10px;
  border-top: 1px solid #bbbdc4;
  font-size: 80%;
}
#peoplelike {
  font-size: 80%;
  padding: 5px;
  padding-left: 10px;
  border-top: 1px solid #bbbdc4;
  background-color: #f6f7f9;
}
#commentsbox {
  padding-bottom: 10px;
  border-top: 1px solid #bbbdc4;
  background-color: #f6f7f9;
}
#nocommentsbox {
  padding: 10px;
}
#title {
  text-align:left;
  width: 400px;
  font-size: 40px;
  border-bottom: 3px solid #000000;
  padding: 10px;
}
#add_task {
  text-align:center;
  width: 400px;
  font-size: 26px;
  border-top: 3px solid #000000;
  padding: 10px;
}
#main {
  text-align:left;
  width: 400px;
  font-size: 20px;
  padding: 10px;
}
#message {
  text-align:center;
  width: 400px;
  font-size: 30px;
  color: #ff0000;
  padding: 10px;
}